<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e2e76ad4-5dbe-4486-99f4-afde3effa7b6" Alias="articleListPage" Level="2">
  <Info>
    <Name>Article List Page</Name>
    <Icon>icon-thumbnail-list color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A list of articles of Blog posts</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="539f59e6-9516-4817-bdf5-0c5acf53657c">contentProperties</Composition>
      <Composition Key="13e69fe2-248c-48fc-a1d0-7c3b5f48d7d4">headerProperties</Composition>
    </Compositions>
    <DefaultTemplate>ArticleListPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="8cc0e2a2-1568-4a14-978d-f39600ec5171">ArticleListPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>