<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="401daad4-33d8-4292-a292-8edc8872ef27" Alias="contentPage" Level="2">
  <Info>
    <Name>Content Page</Name>
    <Icon>icon-document color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A simple content page</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="539f59e6-9516-4817-bdf5-0c5acf53657c">contentProperties</Composition>
      <Composition Key="13e69fe2-248c-48fc-a1d0-7c3b5f48d7d4">headerProperties</Composition>
      <Composition Key="4f6f1984-a395-44a7-957d-ed073e86eafc">visibilityProperties</Composition>
    </Compositions>
    <DefaultTemplate>ContentPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="2846839d-ddc7-4980-ba6f-b7674c4a6ef6">ContentPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>