<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5a172dbf-ed38-4f6f-97d8-51103c33554b" Alias="imageLinkItem" Level="4">
  <Info>
    <Name>Image Link Item</Name>
    <Icon>icon-pictures color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Elements/Content+Blocks/Content+Models</Folder>
    <Compositions>
      <Composition Key="df67b55f-059b-46fb-b79f-17dde081a338">descriptionProperty</Composition>
      <Composition Key="410e91e3-24b1-4c0d-a22b-d3db0e7ea4c1">imageProperty</Composition>
      <Composition Key="77b52777-497f-4fc8-843e-e644089b046d">linkProperty</Composition>
      <Composition Key="c3e7377f-25cc-44f5-b66f-4660b51c6cdd">titleProperty</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>