<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2b205022-9728-4712-92a7-3644f87245e4" Alias="shopPage" Level="2">
  <Info>
    <Name>Shop Page</Name>
    <Icon>icon-shopping-basket-alt color-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Page to shop for items for purchase</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="539f59e6-9516-4817-bdf5-0c5acf53657c">contentProperties</Composition>
      <Composition Key="13e69fe2-248c-48fc-a1d0-7c3b5f48d7d4">headerProperties</Composition>
      <Composition Key="4f6f1984-a395-44a7-957d-ed073e86eafc">visibilityProperties</Composition>
    </Compositions>
    <DefaultTemplate>ShopPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="fa934691-aa25-4dfe-b31d-830411152861">ShopPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>