<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="378206c3-bc1c-47e2-badc-339cd619337f" Alias="Footer.CopyrightTitle" Level="1">
  <Info>
    <Parent>Footer</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Copyright TwistyYarnster 2023</Translation>
  </Translations>
</Dictionary>