<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3eccdaaa-54ea-4387-85f4-95a0fa990213" Alias="[BlockList] Carousel Items" Level="1">
  <Info>
    <Name>[BlockList] Carousel Items</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "de0a143d-3480-4016-b2b0-ae73c3353174",
      "settingsElementTypeKey": "f04b96cb-6301-41d6-a61f-357aac804a50",
      "view": null,
      "stylesheet": null,
      "label": "{{ title != \" ? title : 'Slide ' + $index}} {{$settings.hide == '1' ? '[HIDDEN]' : $content.name }}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseSingleBlockMode": false,
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>