<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2f3b5711-143e-4cb8-b198-840251a84525" Alias="[BlockList] Main Content" Level="1">
  <Info>
    <Name>[BlockList] Main Content</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "a127e229-06e8-44ae-a36e-ab7d63a2d67f",
      "settingsElementTypeKey": "24bca4d9-9b36-4632-841a-8ad3c8aded04",
      "view": null,
      "stylesheet": null,
      "label": "{{ 'Rich Text' + $index }} {{$settings.hide == '1' ? '[HIDDEN]' : $content.name }}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "844ff34c-1305-4b5d-967d-6405ed59ce39",
      "settingsElementTypeKey": "86fdc853-671a-49cc-8d7f-879e99ff85d2",
      "view": null,
      "stylesheet": null,
      "label": "{{ 'Image Row' + $index }} {{$settings.hide == '1' ? '[HIDDEN]' : $content.name }}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "fff3e753-927e-4a41-b968-6a628c28bcf2",
      "settingsElementTypeKey": "a153afac-32f8-4b80-8bd2-e02e5a34737f",
      "view": null,
      "stylesheet": null,
      "label": "{{ 'Carousel' + $index }} {{$settings.hide == '1' ? '[HIDDEN]' : \" }}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseSingleBlockMode": false,
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>