<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a96906b4-75bd-4828-96fa-dbb85566821d" Alias="[BlockList] Image Links" Level="1">
  <Info>
    <Name>[BlockList] Image Links</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "5a172dbf-ed38-4f6f-97d8-51103c33554b",
      "settingsElementTypeKey": "f96d1a42-6c2d-4070-9bec-9b0703fe0c17",
      "view": null,
      "stylesheet": null,
      "label": "{{ title != \" ? title : 'Image Link' + $index}} {{$settings.hide == '1' ? '[HIDDEN]' : \"}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseSingleBlockMode": false,
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": true,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>