<?xml version="1.0" encoding="utf-8"?>
<DataType Key="225cca7a-cef8-46d5-83dc-e0bda26f547a" Alias="[MultiURLPicker] Single URL Picker" Level="1">
  <Info>
    <Name>[MultiURLPicker] Single URL Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "HideAnchor": false,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 1,
  "OverlaySize": "small"
}]]></Config>
</DataType>