<?xml version="1.0" encoding="utf-8"?>
<Media Key="30444e9e-3ca6-4722-94b2-b8d638aa3e1d" Alias="DALL·E 2023 11 08 09.59.25 Logo Of A Twisted Ball Of Yarn On A Blue Background" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DALLE20231108095925LogoOfATwistedBallOfYarnOnABlueBackground</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-08T10:00:01</CreateDate>
    <NodeName Default="DALL·E 2023 11 08 09.59.25 Logo Of A Twisted Ball Of Yarn On A Blue Background" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/tbheimfg/dall-e-2023-11-08-095925-logo-of-a-twisted-ball-of-yarn-on-a-blue-background.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>