<?xml version="1.0" encoding="utf-8"?>
<Media Key="c70b6440-295c-4972-bbf4-b4ace52fc664" Alias="FB IMG 1668389122239" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/FBIMG1668389122239</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-15T15:21:24</CreateDate>
    <NodeName Default="FB IMG 1668389122239" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/izsaxr02/fb_img_1668389122239.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>