<?xml version="1.0" encoding="utf-8"?>
<Media Key="b9ff94ed-bc95-4488-8a54-4612fb97258d" Alias="Irene Chan Xxnxhzys Tc Unsplash" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/IreneChanXxnxhzysTcUnsplash</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-12T09:26:17</CreateDate>
    <NodeName Default="Irene Chan Xxnxhzys Tc Unsplash" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/3okp5omv/irene-chan-xxnxhzys_tc-unsplash.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>