<?xml version="1.0" encoding="utf-8"?>
<Media Key="50142d24-96eb-4b90-90ba-fac57dfb6c9c" Alias="Margarida Afonso Ahmcpxdujv0 Unsplash" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/MargaridaAfonsoAhmcpxdujv0Unsplash</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-13T10:18:26</CreateDate>
    <NodeName Default="Margarida Afonso Ahmcpxdujv0 Unsplash" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/eiwbiuhl/margarida-afonso-ahmcpxdujv0-unsplash.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>