<?xml version="1.0" encoding="utf-8"?>
<Media Key="47e47dfd-6878-4aad-a668-47630c0ab9d0" Alias="Pawel Czerwinski 0Xccpibl3m Unsplash" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/PawelCzerwinski0Xccpibl3mUnsplash</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-12T09:12:28</CreateDate>
    <NodeName Default="Pawel Czerwinski 0Xccpibl3m Unsplash" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/5n4pir1y/pawel-czerwinski-0xccpibl3m-unsplash.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>