<?xml version="1.0" encoding="utf-8"?>
<Content Key="e12e6648-1c47-4d5f-9fce-f59a5464cacd" Alias="About" Level="2">
  <Info>
    <Parent Key="eec30fbb-e9b5-4536-87a8-37f26e62c1da">Home</Parent>
    <Path>/Home/About</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2023-11-10T10:47:10</CreateDate>
    <NodeName Default="About" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2846839d-ddc7-4980-ba6f-b7674c4a6ef6">ContentPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>Born From a mutant weaver spider that ate radioactive wool, the Twisty Yarnster had the skills to crochet and knit anything! </p>
<p>Seriously though, she is a lovely lady from humble origins. Born in central united states to a christian home. She grew up with a love of music and the love of creating. Through hard work and practice she gained her skills in Crochet and Knitting as a hobby to pass the time. It is a passion to create that called her to bring her skills to others. First as baby shower gifts and now here to reach more people.</p>]]></Value>
    </bodyText>
    <headerImage>
      <Value><![CDATA[[
  {
    "key": "817b7ded-a81d-40d0-b349-8f731fd4b9bb",
    "mediaKey": "473143a3-dbae-48f3-a419-7b0720d96ce4"
  }
]]]></Value>
    </headerImage>
    <subtitle>
      <Value><![CDATA[This will tell you all you need to know]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[About Twisty Yarnster]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>