<?xml version="1.0" encoding="utf-8"?>
<Content Key="e12e6648-1c47-4d5f-9fce-f59a5464cacd" Alias="About" Level="2">
  <Info>
    <Parent Key="eec30fbb-e9b5-4536-87a8-37f26e62c1da">Home</Parent>
    <Path>/Home/About</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2023-11-10T10:47:10</CreateDate>
    <NodeName Default="About" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2846839d-ddc7-4980-ba6f-b7674c4a6ef6">ContentPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <headerImage>
      <Value><![CDATA[[
  {
    "key": "817b7ded-a81d-40d0-b349-8f731fd4b9bb",
    "mediaKey": "473143a3-dbae-48f3-a419-7b0720d96ce4"
  }
]]]></Value>
    </headerImage>
    <mainContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/e14e43d5b9534b1cb8c1a8114413b914",
        "settingsUdi": "umb://element/b3477c99be91420480d2bc0553fcb512"
      },
      {
        "contentUdi": "umb://element/c606596466554c908cc7f8cf2cfdbbe5",
        "settingsUdi": "umb://element/38664b47c782481899189eab0fea9216"
      },
      {
        "contentUdi": "umb://element/a68a3af45690492dae340b8ad5192974",
        "settingsUdi": "umb://element/1a9396b4ef514ae5831b05d6ebb41394"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "a127e229-06e8-44ae-a36e-ab7d63a2d67f",
      "udi": "umb://element/e14e43d5b9534b1cb8c1a8114413b914",
      "content": "<p>Born From a mutant weaver spider that ate radioactive wool, the Twisty Yarnster had the skills to crochet and knit anything! </p>"
    },
    {
      "contentTypeKey": "a127e229-06e8-44ae-a36e-ab7d63a2d67f",
      "udi": "umb://element/a68a3af45690492dae340b8ad5192974",
      "content": "<p style=\"text-align: center;\">Seriously though, she is a lovely lady from humble origins. Born in central united states to a christian home. She grew up with a love of music and the love of creating. Through hard work and practice she gained her skills in Crochet and Knitting as a hobby to pass the time. It is a passion to create that called her to bring her skills to others. First as baby shower gifts and now here to reach more people.</p>"
    },
    {
      "contentTypeKey": "844ff34c-1305-4b5d-967d-6405ed59ce39",
      "udi": "umb://element/c606596466554c908cc7f8cf2cfdbbe5",
      "image": [
        {
          "key": "e93299e4-8a76-4681-8102-43c67ca9bf3f",
          "mediaKey": "c70b6440-295c-4972-bbf4-b4ace52fc664"
        }
      ],
      "link": [
        {
          "name": "Home",
          "udi": "umb://document/eec30fbbe9b5453687a837f26e62c1da"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "24bca4d9-9b36-4632-841a-8ad3c8aded04",
      "udi": "umb://element/b3477c99be91420480d2bc0553fcb512"
    },
    {
      "contentTypeKey": "86fdc853-671a-49cc-8d7f-879e99ff85d2",
      "udi": "umb://element/38664b47c782481899189eab0fea9216",
      "hide": "1"
    },
    {
      "contentTypeKey": "24bca4d9-9b36-4632-841a-8ad3c8aded04",
      "udi": "umb://element/1a9396b4ef514ae5831b05d6ebb41394",
      "hide": "0"
    }
  ]
}]]></Value>
    </mainContent>
    <subtitle>
      <Value><![CDATA[This will tell you all you need to know]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[About Twisty Yarnster]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>