<?xml version="1.0" encoding="utf-8"?>
<Content Key="aac9bf53-28c8-42c8-a610-c008d8422923" Alias="Blog" Level="2">
  <Info>
    <Parent Key="eec30fbb-e9b5-4536-87a8-37f26e62c1da">Home</Parent>
    <Path>/Home/Blog</Path>
    <Trashed>false</Trashed>
    <ContentType>articleListPage</ContentType>
    <CreateDate>2023-11-12T09:05:50</CreateDate>
    <NodeName Default="Blog" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8cc0e2a2-1568-4a14-978d-f39600ec5171">ArticleListPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <headerImage>
      <Value><![CDATA[[
  {
    "key": "1e656c22-f835-4000-a06d-6e0b95f8bf28",
    "mediaKey": "e76ee178-a3fe-48ed-adfb-2d93f7b8a3b3"
  }
]]]></Value>
    </headerImage>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>