<?xml version="1.0" encoding="utf-8"?>
<Content Key="69b106b1-47ed-4d7d-925e-1518df927cc0" Alias="Contact" Level="2">
  <Info>
    <Parent Key="eec30fbb-e9b5-4536-87a8-37f26e62c1da">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2023-11-12T09:06:04</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="dea71faf-2769-419f-8bad-3f577e598e0a">ContactPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <headerImage>
      <Value><![CDATA[[
  {
    "key": "2528b1b9-8ade-4d39-88f6-04b42c405f01",
    "mediaKey": "47e47dfd-6878-4aad-a668-47630c0ab9d0"
  }
]]]></Value>
    </headerImage>
    <mainContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/fca419bf86484dd5acd33302f37fe617"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "a127e229-06e8-44ae-a36e-ab7d63a2d67f",
      "udi": "umb://element/fca419bf86484dd5acd33302f37fe617",
      "content": "<p>The best way to contact the TwistyYarnster is via Social media or email</p>"
    }
  ],
  "settingsData": []
}]]></Value>
    </mainContent>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Love to hear from you]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>