<?xml version="1.0" encoding="utf-8"?>
<Content Key="eec30fbb-e9b5-4536-87a8-37f26e62c1da" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2023-11-08T08:33:43</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3e0e01eb-613d-498a-ad80-471a4f78cb7d">HomePage</Template>
  </Info>
  <Properties>
    <footerText>
      <Value><![CDATA[Copyright @2023]]></Value>
    </footerText>
    <headerImage>
      <Value><![CDATA[[
  {
    "key": "87766b3b-d4a7-4669-bf5c-30d5520d1e03",
    "mediaKey": "ebfeb369-8470-403d-82da-3313fcf37d36"
  }
]]]></Value>
    </headerImage>
    <subtitle>
      <Value><![CDATA[Home of the Crochet and Knit creations of the Twisty Yarnster]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Twisty Yarnster]]></Value>
    </title>
  </Properties>
</Content>