<?xml version="1.0" encoding="utf-8"?>
<Content Key="eec30fbb-e9b5-4536-87a8-37f26e62c1da" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2023-11-08T08:33:43</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3e0e01eb-613d-498a-ad80-471a4f78cb7d">HomePage</Template>
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Twisty Yarnster]]></Value>
    </title>
  </Properties>
</Content>