<?xml version="1.0" encoding="utf-8"?>
<Content Key="eec30fbb-e9b5-4536-87a8-37f26e62c1da" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2023-11-08T08:33:43</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3e0e01eb-613d-498a-ad80-471a4f78cb7d">HomePage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p><strong>Stuff for body text</strong></p>]]></Value>
    </bodyText>
    <colors>
      <Value><![CDATA[[
  "Black"
]]]></Value>
    </colors>
    <footerText>
      <Value><![CDATA[Copyright @2023]]></Value>
    </footerText>
    <hideImage>
      <Value><![CDATA[0]]></Value>
    </hideImage>
    <image>
      <Value><![CDATA[[
  {
    "key": "2b605251-695d-447d-9a1e-af5e5f057222",
    "mediaKey": "30444e9e-3ca6-4722-94b2-b8d638aa3e1d"
  }
]]]></Value>
    </image>
    <title>
      <Value><![CDATA[Twisty Yarnster]]></Value>
    </title>
  </Properties>
</Content>