<?xml version="1.0" encoding="utf-8"?>
<Content Key="34a02523-c13d-4b42-bb06-cc8f41daac5f" Alias="Shop" Level="2">
  <Info>
    <Parent Key="eec30fbb-e9b5-4536-87a8-37f26e62c1da">Home</Parent>
    <Path>/Home/Shop</Path>
    <Trashed>false</Trashed>
    <ContentType>shopPage</ContentType>
    <CreateDate>2023-11-12T09:24:54</CreateDate>
    <NodeName Default="Shop" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="fa934691-aa25-4dfe-b31d-830411152861">ShopPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <headerImage>
      <Value><![CDATA[[
  {
    "key": "189f126e-9a7a-43bf-ae48-c5608a58df16",
    "mediaKey": "b9ff94ed-bc95-4488-8a54-4612fb97258d"
  }
]]]></Value>
    </headerImage>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[All that are available]]></Value>
    </title>
  </Properties>
</Content>